
<h1>Bienvenido al area de networking</h1>
<div class="users-container" data-my-username="{{username}}">
    {{#each users}}
        <div class="card">
            <div class="card__img">
                <img src="public\\img\portada.png" alt="Imagen de portada" style="width:100%;height:auto;">
            </div>
            <div class="card__avatar" style="background-image: url('{{profilePicture}}'); background-size: cover; background-position: center center; background-repeat: no-repeat;" alt="Imagen de perfil"></div>
            <div class="card__title">{{fullname}}</div>
            <div class="card__subtitle">{{role}}</div>
            <div class="card__details">
                <p>Email: {{email}}</p>
            </div>
            <div class="card__wrapper">
                <button class="card__btn" data-toggle="modal" data-target="#chatModal" data-fullname="{{fullname}}">Iniciar chat</button>
            </div>
        </div>
    {{/each}}
</div>


<!-- Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">Chateando con Dios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="chat-card">
          <div class="chat-header">
            <div class="chat-h2">Dios</div>
          </div>
          <div class="chat-body p-3" style="max-height: 400px; overflow-y: auto;">
            <div class="message incoming">
              <p>Message</p>
            </div>
            <div class="message outgoing">
              <p>Message</p>
            </div>
            <div class="message incoming">
              <p>Message</p>
            </div>
          </div>
        <div class="chat-footer">
            <form id="message-form">
                <input placeholder="Type your message" type="text" class="form-control">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>



